{%- set label = (label is defined and label != '__blank__' ? label : null) %}
{%- set errors = (errors is defined ? errors : null) -%}
{%- set floatLabel = (floatLabel is defined ? floatLabel : false) -%}

{%- set fieldClass = [
    floatLabel ? 'form-label-group' : null,
    'form-group',
]|join(' ') %}

<div class="{{ fieldClass }}">
    {% if floatLabel == false %}
    {% if label %}
    <label
    {%- if id is defined %} for="{{ id }}"{% endif %}
    >{{ label }}</label>
    {% endif %}
    {% endif %}
    {{ input|raw }}
    {% if floatLabel %}
    <label
        {%- if id is defined %} for="{{ id }}"{% endif %}
        >{{ label }}</label>
    {% endif %}
    {% include "@vendor/mlaxwong/paw-twig/src/views/widgets/inputs/errors.twig" with { errors: errors } %}
</div>